<div class='row' style="margin-top: 50px;">
	<div class='span'>
		<h3>Add New Dashboard</h3>
	</div>
</div>
<hr class='compact'>
{{#if dashboardCreated}}
	<h4 class='alert alert-success'>New Dashboard Created </h4>
{{/if}}
<form class="form-horizontal">
	<fieldset>
		<div class="control-group" id="display_name_control_group">
			<label class="control-label" for="input01">Display Name</label>
			<div class="controls">
				{{input type ="text" class="input-xlarge" placeholder="Display Name" valueBinding="view.displayName" }}
				
				<p class="help-block">This name will appear in dashboards list</p>
			</div>
		</div>
		<div class="control-group" id="title_control_group">
			<label class="control-label" for="input02">Title</label>
			<div class="controls">
				{{input type ="text" class="input-xlarge" placeholder="Title" valueBinding="view.title" required=true }}
			</div> 
		</div>
		<div class="control-group">
			<label class="control-label" for="input03">Sub Title</label>
			<div class="controls">
				{{input type ="text" class="input-xlarge" placeholder="Sub Title" valueBinding="view.subtitle" }}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input04">Description</label>
			<div class="controls">
				{{view Cibi.TextArea rows=3 valueBinding="view.description" placeholder="Description" class="input-xlarge" }}
			</div>
		</div>
		<div class="control-group">
			<div class="span" style="width: 20%;">
				<label class="control-label" for="input03">Auto Refresh</label>
				<div class="controls">
					{{view Ember.Checkbox id="auto_refresh" valueBinding="view.autoRefresh" checkedBinding="view.autoRefresh"}}
				</div>
			</div>
			<div class="span" style="width: 80%;">
				<div class="row" style="display: -webkit-inline-box;">
					<label style="padding-top: 4px; margin-right: 5px; margin-left: 5px;">
						After Every
					</label>
					<div style="margin-left: 15px; margin-right: 5px;">
						{{view Cibi.NumberField valueBinding="view.refreshInterval" min="1" class="input-mini"}}
					</div>
					<label style="padding-top: 4px; font-size: 13px;">Seconds</label>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Save</button>
			<button class="btn" {{action 'cancel' target="view"}}>Cancel</button>
		</div>
	</fieldset>
</form>