<div class="container" style="width:100%; padding-top:16px;">
  <div class="row homepage-bg" style="min-height:600px;">
    <div class='span8' style ="padding: 5% 8%;width: 40%;">
      <img src="/assets/Symbol-Image.png"></img>
    </div>    
    <div class='span' style="padding: 5%;" >
      <div class='span login-bg'>
      <h3 style="color: #FFFFFF;font-family: 'Helvetica Neue LT Com', Helvetica, Arial, sans-serif;"> Reset Password	 </h3>
		<form class='form-vertical'>

			{{input type='password' class='input-large' placeholder='New password' value=view.password}}

			<br>
			{{input type='password' class='input-large' placeholder='Confirm password' value=view.password_confirmation}}

			<br>

			{{#if Cibi.Auth.infoMessage}}
			<h5 class='small-alert' style="width:174px;">
			{{Cibi.Auth.infoMessage}}
			</h5>
			{{/if}}

			{{#if Cibi.Auth.errorMessage}}
				<h5 class='text-error small-alert' style="width:174px;">
					{{Cibi.Auth.errorMessage}}
				</h5>
			{{/if}}			
			<br>
			{{input type='submit' class='btn btn-small btn-homepage' style="margin-top: 0px" value="Submit"}}
			{{#linkTo 'verticals'}}<span style="color:#005BAF;" id="reset_cancel">Cancel</span>{{/linkTo}}
		</form>
      </div>
    </div> 
  </div>
</div>
