<li class='filterDiv'>
	<a rel="popover" class="filter_popover"  data-toggle="tooltip" data-placement="right auto" title="Chart Filters"  {{bindAttr id='popoverId'}} >
		<i class='icon-filter edit_chart_filters muted'></i>
	</a>

	<div class="popover fade bottom in hidden" style="display: block; width: 350px; height: 300px;">
		<div class="arrow hidden" style="left:116px;"></div>
		<h3 class="popover-title hidden">Chart Filters</h3>
		<div class="popover-content hidden">
			<div class='row' style="height: 225px; overflow-y: auto; overflow-x: hidden">
				<div class='span'>
					<form class='form' style="margin-bottom:0px;">
						Filter Display Name: <br>
						{{input valueBinding="view.display_name" type='text' class="input-medium"}}
						<br>

						{{#if can_edit}}
							{{view Ember.Checkbox checkedBinding="view.is_global" name='is_global' value=false class="align-checkbox"}} Shared Filter
							<br>
						{{/if}}

						Field Name:
						<br>
						{{view Ember.Select
		    			    contentBinding="fieldsArr"
		       				valueBinding="view.field_name"
		       				class='input-medium'
						}}
						<br>

						{{#if view.field_name}}
							{{#if view.fieldType}}
								{{#if view.dateTypeField}}
									{{#unless view.range_comparison}}
										Format as:
										<br>
										{{view Ember.Select
						    			    contentBinding="view.period"
						    			    valueBinding="view.format_as"
						       				class='input-medium'
										}}
										<br>
									{{/unless}}									
								{{/if}}
							{{/if}}
						{{/if}}

						{{view Ember.Select
		    			    contentBinding="view.operators"
		    			   	optionLabelPath="content.display"
		    			    optionValuePath="content.value"
		       				valueBinding="view.comparison_operator"
		       				class='input-medium'
						}}
						{{#if view.valuesLoading}}
							<img src='/assets/ajax-loader.gif' />
						{{/if}}
						<br>

						<div {{bindAttr id='view.filterValuesId'}}>
						</div>

						{{#if view.range_comparison}}
						    <div class='row'>
						    	<div class='span'>
									{{view Ember.Checkbox checkedBinding="view.specific_date" class="range_selector radio-align" name="0"}}
								</div>
								<div class='span'>
									<label>Choose specific dates</label>
								</div>
							</div>
						    <div class='row'>
						    	<div class='span'>
									{{view Ember.Checkbox checkedBinding="view.reference_date_option" class="range_selector radio-align" name="1"}}
								</div>
								<div class='span'>
									<label>Specify periods w.r.t reference date</label>
								</div>
							</div>
							{{#if view.specific_date}}
								<div class="row" style="margin-top:5px;">
									<div class="span" style="margin-right: 40px;">
										<span>Lower: </span><br/>
										<div id="datetimepicker" class="input-append">
											{{#if view.isDate}}
												{{view Cibi.NewDateField valueBinding="view.start_date" id="chart_lower_range" classNames="startDate" style="margin-right:10px; width:100px;"}}	
											{{else}}
												{{#if view.isTime}}
													{{view Cibi.NewTimeField valueBinding="view.start_date" id="chart_lower_range" classNames="startDate" style="margin-right:10px; width:100px;"}}	
												{{else}}
													{{#if view.isDateTime}}
														{{view Cibi.NewDateTimeField valueBinding="view.start_date" id="chart_lower_range" classNames="startDate"}}			
													{{/if}}
												{{/if}}
											{{/if}}
										</div>
									</div>
									<div class="span">
										<span>Upper:</span> <br/>
										<div id="datetimepicker" class="input-append">
											{{#if view.isDate}}
												{{view Cibi.NewDateField valueBinding="view.end_date" id="chart_upper_range" classNames="startDate" style="width:100px;"}}
											{{else}}
												{{#if view.isTime}}
													{{view Cibi.NewTimeField valueBinding="view.end_date" id="chart_upper_range" classNames="startDate" style="width:100px;"}}	
												{{else}}
													{{#if view.isDateTime}}
														{{view Cibi.NewDateTimeField valueBinding="view.end_date" id="chart_upper_range" classNames="startDate"}}			
													{{/if}}
												{{/if}}
											{{/if}}									
										</div>								
									</div>
								</div>
							{{/if}}
							{{#if view.reference_date_option}}
									<div class='row' style="margin-top:10px;">
										<b>Specify Period</b>
									</div>
								    <div class='row' style="margin-top:5px;">
										<div class='span' style="width:45%;">
											<input type="radio" name="reference_direction" value="previous" checked> previous
										</div>
										<div class='span' style="width:45%;">
											<input type="radio" name="reference_direction" value="next"> next
										</div>
									</div>
									<div class='row' style="margin-top:5px;">
										{{view Cibi.NumberField valueBinding="view.reference_count" min="1" style="width:80px;margin-left:10px;"}}
										{{view Ember.Select
						    			    contentBinding="view.period_unit"
						    			    valueBinding="view.reference_unit"
						       				class='input-medium'
										}}
									</div>

									<div class='row' style="margin-top:10px;">
										<b>Reference Date</b>
									</div>
									<div class='row' style="margin-top:5px;">
										<div class="span">
											{{view Ember.Checkbox checkedBinding="view.reference_date_today" class="align-top"}}Today
										</div>
										<div class="span" style="max-width: 175px; margin-left: 10px;">
											<div id="datetimepicker" class="input-append">
												{{#if view.isDate}}
													{{view Cibi.NewDateField valueBinding="view.reference_date" id="reference_date" classNames="startDate" style="margin-right:10px; width:100px;"}}	
												{{else}}
													{{#if view.isTime}}
														{{view Cibi.NewTimeField valueBinding="view.reference_date" id="reference_date" classNames="startDate" style="margin-right:10px; width:100px;"}}	
													{{else}}
														{{#if view.isDateTime}}
															{{view Cibi.NewDateTimeField valueBinding="view.reference_date" id="reference_date" classNames="startDate"}}			
														{{/if}}
													{{/if}}
												{{/if}}
										  	</div>
										</div>	
									</div>									

							{{/if}}

						{{/if}}
						
						<input type="submit" value='Save' class='btn'/ >
						<button class="btn" aria-hidden="true" {{action 'cancel' target="view"}}
						>Cancel</button>
					</form>
				</div>
			</div>
			
		</div>

	</div>
	
</li>
