<button class="btn btn-info flat-button" type="button" style="background-color:#4093cd; padding-left: 8px; padding-right: 8px; padding-top: 3px; padding-bottom: 3px;" {{action "openPopover" target=view on="click"}}>
	<a rel="popover" class="dashboard_layout_popover" data-toggle="tooltip" data-placement="right" title="DashBoard Layout"  {{bindAttr id='view.dashboardLayoutPopoverId'}} >
		<i class="icon-th icon-white"> </i>
		<span class="caret">
		</span>
	</a>
</button>

<div class="popover fade bottom in hidden" style="display: block;">
	<div class="arrow hidden"></div>
	<h3 class="popover-title hidden">Dashboard Layout</h3>
	<div class="popover-content hidden">
		<div class='row'>
			<div class='span' style='margin-left: 10px;'>
				<form class='form' style="margin-bottom:0px;">
					<div class="row">
						<div class="span" style="width:55px;">
							<span>Rows</span>
						</div>
						<div class="span" style="margin-left:10px;">
							{{view Cibi.NumberField valueBinding="rows" min="1" class="input-mini"}}
						</div>
					</div>
					<div class="row">
						<div class="span" style="width:55px;">
							<span>Columns</span>
						</div>
						<div class="span" style="margin-left:10px;">
							{{view Cibi.NumberField valueBinding="columns" min="1" class="input-mini"}}
						</div>
					</div>
					<div class="well-small">
						<button type="submit" class="btn">Save</button>
						<button class="btn" {{action "cancel" target="view"}} aria-hidden="true">Cancel</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>

</div>